@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');
*,*::after,*::before{
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


body {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;

    .header{
        margin-top: 2rem;
        width: 95%;
    }
    


    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;

        .container{
            margin: 1rem;
        }
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 3.5rem;
        margin-top: 2rem;
        text-align: center;
        background-color: #222;
        color: #fff;
        width: 95vw;
        position: relative;
        bottom: 0;
        padding: .6rem;
        p {
            margin-top: .8rem;
            width: 100%;
        }
    }
}

@media only screen 
   and (max-width : 360px) {
    body {
        .container {
            .row{
                .col {
                    .card{
                        margin:.4rem;
                    }
                }
            }
        }
    }
}